body {
}

.table_cart {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    table-layout: fixed;
}

.right_div 
{
    float: right;
}

td.table_cart { 
    padding: 13px 0;
    vertical-align: top;
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #d0d0d0;
}

table.tb_void {
    border-collapse: collapse;
    border: solid #E6E6E6;
    border-width: 1px;
}

tr.tb_void {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td.tb_void 
{
    vertical-align: top;
    padding-top: 10px;
    border: solid #E6E6E6;
    border-width: 1px 0 0 1px;
    padding: 5px 4px;
    text-align: center;
}

img.class_image
{
    max-width: 28px;
    max-height: 28px;
}

img.item_image
{
    max-width: 86px;
    max-height: 86px;
}

img.good_detail
{
    max-width: 300px;
    max-height: 300px;
}

table.good_list
{
    width: 135px; 
    height: 158px;
    border-left: 1px dotted #F1F1F1;
}

input.text
{
    width: 300px;
    height: 89px;
}

div.user_name{
    width: 60px;
    float: left;
    height: 50px;
    padding: 0 10px;
    display: block;
    text-align: center;
}

div.time
{
    text-align: right;
}

div.comment{
    width: 300px;
    _width: 290px;
    height: 60px;
    float: left;
    color: #777;
    border: 1px solid #F1F1F1;
    margin-bottom: 6px;
}

td.td_header
{
    width: 70px;
    height: 60px;
}

table.tab_detail
{
    margin-left: 30px;
}