body {
}

.table_cart {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    table-layout: fixed;
}

.right_div 
{
    float: right
}

.table_cart td {
    padding: 13px 0;
    vertical-align: top;
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #d0d0d0;
}

.tb_void table {
    border-collapse: collapse;
    border: solid #E6E6E6;
    border-width: 0 1px 1px 1px;
}

.tb_void tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.tb_void td 
{
    vertical-align: top;
    padding-top: 10px;
    border: solid #E6E6E6;
    border-width: 1px 0 0 1px;
    padding: 5px 4px;
    text-align: center;
}