body {
}

.table_cart {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    table-layout: fixed;
    margin-left: 15px;
    margin-right: 15px;
}

.right_div 
{
    float: right;
}

td.table_cart { 
    padding: 13px 0;
    vertical-align: top;
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #d0d0d0;
}

table.tb_void {
    border-collapse: collapse;
    border: solid #E6E6E6;
    border-width: 1px;
}

tr.tb_void {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td.tb_void 
{
    vertical-align: top;
    padding-top: 10px;
    border: solid #E6E6E6;
    border-width: 1px 0 0 1px;
    padding: 5px 4px;
    text-align: center;
}

img.class_image
{
    max-width: 28px;
    max-height: 28px;
}

img.item_image
{
    max-width: 96px;
    max-height: 96px;
}

img.good_detail
{
    max-width: 300px;
    max-height: 300px;
}

table.good_list
{
    width: 240px; 
    height: 158px;
    border-left: 1px dotted #F1F1F1;
}

input.text
{
    width: 300px;
    height: 89px;
}

div.user_name{
    width: 60px;
    float: left;
    height: 50px;
    padding: 0 10px;
    display: block;
    text-align: center;
}

div.time
{
    text-align: right;
}

div.comment{
    width: 300px;
    _width: 290px;
    height: 60px;
    float: left;
    color: #777;
    border: 1px solid #F1F1F1;
    margin-bottom: 6px;
}

td.td_header
{
    width: 70px;
    height: 30px;
}

table.tab_detail
{
    margin-left: 30px;
}

div.title
{
    margin-left: 30px;
}

.white_link
{
    text-decoration: none;
    color: White;
}

div.nav:hover
{
    background: #FFBA00;
    padding-left: 3px;
    padding-right: 3px;
    font-family: 微软雅黑;
    text-align:center;
}

div.nav
{
    height: 30px; 
    float:left;
    padding-left: 3px;
    padding-right: 3px;
    font-family: 微软雅黑;
    text-align:center;
}

div.menu
{
    float: left; 
    padding-top: 5px;
    padding-bottom: 5px;
}

.ora
{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.top_lnk
{
    color: Black; 
    font-size: 10pt; 
    text-decoration: none;
}

.top_lnk:hover
{
    color: Black; 
    font-size: 10pt; 
    text-decoration: underline;
}

span.name
{
    color: #e17752;
    display: inline-block;
    width: 82px;
    height: 20px;
    margin-right: 3px;
    font: 400 18px/18px "\5FAE\8F6F\96C5\9ED1",Arial;
}

span.name_en
{
    display: inline-block;
    vertical-align: text-top;
    _margin-top: -2px;
    margin-right: 3px;
    font-size: 9px;
    font-family: 微软雅黑E\8F6F\96C5\9ED1,Tahoma,Verdana;
    line-height: 18px;
    color: #8a8a8a;
    font-weight: normal;
}

input.user
{
    height: 23px;
    line-height: 23px;
    border: 1px solid #ccc;
    text-indent: 5px;
}

.user
{
    margin-bottom: 10px;
}

.change_account
{
    z-index: 3;
    width: 540px;
    height: 455px;
    border: 1px solid #D7D7D7;
    background-color: #F3F3F3;
}

.buy
{
    float: left;
    width: 69px;
    height: 26px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 26px;
    background-color: #da2121;
    text-decoration: none;
}

.price
{
    overflow: hidden;
    height: 20px;
    margin-bottom: 8px;
    line-height: 20px;
    font-size: 20px;
    color: #f00000;
    font-family: arial;
}